/* Aspectos generales */
html {
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}

/* Columnas */
.row-sm {
    margin-left: -5px;
    margin-right: -5px;
}
.row-sm > div {
    padding-left: 5px;
    padding-right: 5px;
}

/* Colores */
.btn-inverse {
    color: #ffffff;
    background-color: #aaaaaa;
    border-color: #999999;
}
.btn-inverse:hover, .btn-inverse:focus {
    color: #ffffff;
    background-color: #969696;
    border-color: #7a7a7a;
}
.btn-inverse[disabled] {
    background-color: #95a5a6;
    border-color: #cccccc;
}
.text-green {
    color: #00BB33;
}

/* Login */
.login-text {
    margin-bottom: 20px;
    text-align: center;
}
.login-form-action {
    text-align: right;
    margin-top: 10px;
}
.login-form-action button {
    margin-right: 2px;
}
form .panel-footer button:last-child {
    margin-right: 0;
}
.footer .container {
    width: 100%;
    margin: 0;
}

/* Barra superior */
.navbar {
    margin-bottom: 0;
}
.navbar .container {
    width: 100%;
    margin: 0;
}
.navbar .navbar-brand {
    padding: 5px;
}
.navbar .navbar-brand img {
    height: 100%;
}
.navbar .menu-toggle {
    margin-left: 10px;
}

/* Menú */
.sidebar {
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    z-index: 10;
    border-right: 1px solid #E7E7E7;
    background-color: #F8F8F8;
}
.sidebar-content {
    margin-top: 41px;
    position: relative;
}
.navigation i {
    font-size: 16px;
    margin-right: 8px;
}
.navigation li:first-child div {
    padding: 5px 9px;
}
.navigation > li, .navigation .nav > .active {
    border-bottom: 1px solid #E7E7E7;
}
.navigation .arrow {
    margin-top: 2px;
}
.navigation > .active > a, .navigation > .active > a:hover, .navigation > .active > a:focus {
    color: #FFFFFF;
    background-color: #428BCA;
}
.navigation .nav > .active > a, .navigation .nav > .active > a:hover, .navigation .nav > .active > a:focus {
    background-color: #EEEEEE;
}
.navigation .nav > .active:last-child {
    border-bottom: none;
}
.sidebar-flat {
    width: 50px;
}
.sidebar-flat .navigation li {
    position: relative;
}
.sidebar-flat .navigation li a {
    padding-left: 15px!important;
}
.sidebar-flat .navigation .menu-text, .sidebar-flat .navigation > li > a > .arrow {
    display: none;
}
.sidebar-flat .navigation > li ul {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 200px;
    display: none;
}
.sidebar-flat .navigation li:hover > ul, .sidebar-flat .navigation li:hover > ul.collapse {
    display: block!important;
    height: auto!important;
    z-index: 1000;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    visibility: visible;
    margin-top: -1px;
}

/* Contenido de página */
.page-content {
    margin: 0 0 0 240px;
    position: relative;
    padding: 0 25px;
}
.page-content-full {
    margin-left: 50px;
}

/* Título y subtítulo */
.page-header {
    margin: 10px 0;
    position: relative;
    padding: 0;
    border: 0;
}
.page-header h5 {
    padding: 0;
    margin: 0;
}
.page-header small {
    margin-left: 5px;
}
.page-header small i {
    margin-right: 5px;
}

/* Footer */
.footer {
    border-top: 1px solid #E7E7E7;
    background-color: #F8F8F8;
    padding: 6px 0;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 20;
    background-color: #fff;
}
.page-content-footer-fix {
    padding-bottom: 49px;
}

/* Filtros */
#filter .filter-buttons, #filter-identity .filter-buttons, #groupby .filter-buttons, #filter-distribution .filter-buttons, .filter-panel .filter-buttons {
    text-align: right;
    margin-top: 20px;
}
#filter .row:last-child .form-group, #filter .row:last-child .form-group .checkbox, #filter .row:last-child .form-group .radio, #filter-identity .row:last-child .form-group,  #filter-identity .row:last-child .form-group .checkbox, #filter-identity .row:last-child .form-group .radio, #groupby .row:last-child .form-group, #groupby .row:last-child .form-group .checkbox, #groupby .row:last-child .form-group .radio, #filter-distribution .row:last-child .form-group, #filter-distribution .row:last-child .form-group .checkbox, #filter-distribution .row:last-child .form-group .radio, .filter-panel .row:last-child .form-group, .filter-panel .row:last-child .form-group .checkbox, .filter-panel .row:last-child .form-group .radio {
    margin-bottom: 0;
}
#filter .row:last-child > div button:last-child, #filter-identity .row:last-child > div button:last-child, #groupby .row:last-child > div button:last-child, #filter-distribution .row:last-child > div button:last-child, .filter-panel .row:last-child > div button:last-child {
    margin-left: 2px;
}
#filter .panel-body, #filter-identity .panel-body, #groupby .panel-body, #filter-distribution .panel-body, .filter-panel .panel-body {
    padding: 8px 10px;
}

/* Tablas */
.jtable th .jtable-column-header-container {
    text-align: left;
}
.jtable th.jtable-column-header-selecting .jtable-column-header-container  {
    text-align: center;
}
.jtable th.jtable-column-header {
    padding: 4px;
}
div.jtable-main-container > table.jtable > thead th {
    font-size: 14px;
}
div.jtable-main-container > table.jtable > thead th.jtable-column-header div.jtable-column-header-container {
    height: 20px;
    margin-left: 4px;
    display: inherit;
}
div.jtable-main-container {
    margin-bottom: 20px;
    font-size: 13px;
}
.jtable-child-row .jtable-main-container, .tab-pane .jtable-main-container {
    margin-bottom: 0;
}
.jtable td {
    font-weight: 400;
    height: 30px;
}
.jtable h4, .jtable h6, .jtable h4 small {
    color: inherit;
}
div.jtable-main-container > table.jtable > tbody > tr:hover {
    background: #e8eaef!important;
    color: #333333!important;
}
div.jtable-main-container > table.jtable > tbody > tr.jtable-row-selected {
    color: #fff!important;
    background-color: #31b0d5!important;
}
.table-wrapper {
    overflow-y: auto;
}
.jtable .icheckbox_square-grey {
    background-color: #ffffff;
}

/* Celda con detalles y fotografía */
.jtable-grid-body {
    margin: -2px;
    padding: -2px;
}
.jtable-grid-row {
    min-height: 480px;
    max-height: 480px;
    border: 1px solid #fff;
}
.jtable-grid-row:hover {
    background-color: #f0f0f0;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 999999999;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 2px 5px 5px  #999;
}
.jtable-row-selected, .jtable-grid-row:hover.jtable-row-selected {
    background: #ff9326;
}
.btn-product {
    opacity: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
}
.jtable-grid-row:hover .btn-product, .jtable-row-selected .btn-product {
    opacity: 1;
}

/* Colores de celdas */
.cell-danger {
    background-color: #F7DBDB;
}
.cell-darkdanger, .cell-darkdanger td, .cell-darkdanger .btn-link {
    background-color: #de3333;
    color: #fff !important;
}
.cell-gray {
    background-color: #ccc;
}
.cell-warning{
    background-color: #FDFDE6;
}
.cell-primary {
    background-color: #DDF2F8;
}
.jtable-row-selected .cell-gray, .jtable-row-selected .cell-darkdanger, .jtable-row-selected .cell-danger,.jtable-row-selected .cell-warning, .jtable-row-selected .cell-primary {
    background-color: inherit;
}

/* Celda con detalles */
td.detailed-cell {
    vertical-align: top;
    overflow: hidden;
}
td.detailed-cell h4 {
    margin: 0;
}
td.detailed-cell .label {
    font-size: 12px;
}
td.detailed-cell p, td.detailed-cell div {
    font-size: 12px;
}

/* Celda con detalles small */
td.detailed-cell-sm div p {
    margin-bottom: 4px;
}
td.detailed-cell-sm div p:last-child {
    margin-bottom: 0;
}
td.detailed-cell-sm div p.title {
    font-size: 15px;
    margin-bottom: 4px;
}
td.detailed-cell-sm div p.title small {
    font-size: 12px;
}
td.detailed-cell-sm div p.subtitle {
    font-size: 13px;
    margin-bottom: 4px;
}

/* Celda con detalles - large */
td.detailed-cell-lg {
    vertical-align: top;
    overflow: hidden;
}
td.detailed-cell-lg h4 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
td.detailed-cell-lg .label {
    font-size: 14px;
}
td.detailed-cell-lg p, td.detailed-cell div {
    font-size: 14px;
}

/* Celda con fotografías */
td.photo-cell {
    min-width: 100px;
}
td.photo-cell .img-thumbnail {
    max-width: 250px;
    padding: 2px;
    border-radius: 2px;
}
td.photo-cell .img-thumbnail:hover {
    -webkit-transform: scale3d(2.5);
    -moz-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
    z-index: 999999999;
    position: relative;
}

/* Celda con stocks */
td.stock-cell {
    font-size: 12px;
}
td.stock-cell .row {
    line-height: 15px;
}
td.stock-cell strong {
    font-weight: 600;
    font-size: 14px;
}

/* Celdas con números */
.number-size {
    font-size: 17px;
}

/* Celdas con identidades */
td.identity-cell {
    position: relative;
    vertical-align: top;
}
td.identity-cell .identity-item {
    font-size: 12px;
    margin-bottom: 4px;
}
td.identity-cell .identity-item:last-child {
    margin-bottom: 0;
}
td.identity-cell .identity-item a {
    display: none;
    margin-left: 5px;
    font-weight: bold;
    float: right;
}
td.identity-cell .identity-item a:hover {
    text-decoration: none;
    color: #a94442;
}
td.identity-cell .identity-dropdown {
    display: none;
    position: absolute;
    padding: 5px;
    border: 1px dotted #ddd;
    background: #31b0d5;
    z-index: 1000;
    width: 100%;
    left: 0;
    bottom: -42px;
    border-left: 0;
    border-right: 0;
}
td.identity-cell .identity-dropdown button {
    width: 26%;
    margin-left: 2%;
    float: right;
}
td.identity-cell .identity-dropdown select {
    width: 72%;
    float: left;
}
tr.jtable-row-selected td.identity-cell .identity-dropdown, tr.jtable-row-selected td.identity-cell .identity-item a {
    display: inline-block;
}

/* Celdas de última entrada/salida */
td.last-movement-cell {
    font-size: 11px;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0 4px!important;
    text-align: center;
}

/* Celdas small */
td.cell-sm {
    font-size: 12px;
}

/* Buscar en tabla */
.table-search {
    margin-bottom: 8px;
}

/* Item de lista con detalles */
.detailed-list-item {
    color: #333333;
    padding: 4px;
    border-radius: 0!important;
}
.detailed-list-item h4 {
    margin: 0;
}
.detailed-list-item p.title {
    font-size: 17px;
}
.detailed-list-item p:last-child {
    margin-bottom: 0;
}
.detailed-list-item div.number {
    line-height: 50px;
    border-right: 1px solid #ddd;
    text-align: center;
    margin-top: -4px;
    margin-bottom: -4px;
}

/* Resumen de tabla */
.resume-panel {
    margin-bottom: 0;
}
form .resume-panel {
    margin-top: 20px;
}
.resume-panel li {
    text-align: right;
    font-size: 18px;
}

/* Formularios */
form .panel-footer {
    text-align: right;
}
form .panel-footer button, form .panel-footer input, form .panel-footer a {
    margin-right: 5px;
}
form .panel-footer button:last-child, form .panel-footer input:last-child, form .panel-footer a:last-child {
    margin-right: 0;
}
hr {
    margin-top: 14px;
    margin-bottom: 14px;
}
.form-group-horizontal label:after {
    content: '-';
}
.form-group-horizontal p {
    display: inline-block;
    padding: 5px 0;
}
.form-group-horizontal label:after, .form-group-horizontal p {
    margin-left: 5px;
}
label.mandatory:after {
    content: '*';
    margin-left: 5px;
    font-weight: bold;
    color: #d9534f;
}
form #table-toolbar {
    margin-top: 3px;
}
#popup .form-control-static-empty:after {
    content: '(vacío)';
    font-style: italic;
}
.form-group-message {
    line-height: 30px;
    margin-bottom: 8px;
}

/* Alertas */
.alert {
    margin-bottom: 10px;
}
.alert > p + p {
    margin: 0;
}

/* Botones de acción */
#action-buttons {
    padding-bottom: 7px;
}
.panel-action-buttons {
    padding-top: 5px;
    padding-bottom: 20px;
}

/* Iconos de botones */
.btn-icon-margin {
    margin-right: 6px;
}

/* Tabs */
.nav-tabs-panel li.active a, .nav-tabs-panel li.active a:hover {
    background-color: #fff;
}
.nav-tabs-panel + .panel {
    border-top: 0;
    border-radius: 0 0 4px 4px;
}

/* Multiselect */
.multiselect-container .checkbox {
    min-height: 25px;
    padding-top: 3px;
}
.multiselect-container .multiselect-all {
    text-transform: uppercase;
}

/* Checkbox */
.radio label, .checkbox label {
    padding-left: 0;
}
.radio label > div, .checkbox label > div {
    margin-right: 10px;
    background-color: #FFFFFF;
}

/*iCheck */
.checkbox div.focus{
    background-color:#f0f0f0;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(14, 25, 34, 0.6);
}


/* Filter box */
.filter-box, .filter-box-identity, .show-filters-box {
    font-size: 10px;
    margin-bottom: 8px;
    padding: 8px;
    line-height: 1.2em;
}
.filter-types span:before {
    content: ' - ';
}
.filter-types span:first-child:before {
    content: '';
}

/* Birthday Picker */
.birthday-picker .row {
    margin-left: -5px;
    margin-right: -5px;
}
.birthday-picker .row .col-xs-3, .birthday-picker .row .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}

/* Date Picker */
.input-group-date input.date-enabled {
    cursor: text!important;
    background-color: #fff!important;
}
.datepicker {
    z-index: 9999;
}

/* Time Picker */
.bootstrap-datetimepicker-widget {
    width: 50px;
}
.timepicker-picker a.btn {
    padding:0;
}
.timepicker-picker td {
    height: inherit;
    line-height: inherit;
    padding: 0!important;
}
.timepicker-picker td span {
    height: 35px;
    line-height: 35px;
}
.timepicker-picker td span:hover {
    background: inherit;
}
.timepicker-picker tr:nth-child(2) td span {
    cursor: inherit;
    pointer-events: none;
}
.timepicker-picker td.separator {
    width: 5px;
}
.input-group-time .input-group-addon span {
    display: initial!important;
    cursor: initial!important;
    width: initial!important;
    height: initial!important;
}

/* Upload field */
.filefield {
    width: 147px;
    height: 28px;
    background: url(../img/base/filefield_button.png) 0 0 no-repeat;
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin: 2px;
}
.filefield:hover {
    background: url(../img/base/filefield_button_hover.png) 0 0 no-repeat;
}
.filefield input[type="file"] {
    position: relative;
    height: 100%;
    width: 140px !important;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0) ;
    cursor: pointer;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

/* Selector de producto */
.thumbnail-product {
    display: inline-block;
    vertical-align: top;
    max-width: 48%;
}

/* Popup */
.modal-dialog {
    margin-top: 45px;
}
#popup .modal-lg {
    width: 90%;
}
#popup .list-group {
    margin-bottom: 0;
}
#popup div.jtable-main-container {
    margin-bottom: 0;
}
.modal-header, .modal-footer {
    padding: 10px 15px;
}
#popup .modal-body .panel {
    margin-bottom: 0;
}

/* Ver orden */
.order-view .panel {
    margin-bottom: 0;
    border-top-width: 0;
    border-radius: 0;
}
.order-view .panel:first-child {
    border-top-width: 1px;
}
.order-view .panel-heading, .order-view .panel-body {
    padding: 10px;
}
.order-view .panel-body .form-group {
    margin-bottom: 0;
}

/* Mapa */
.map-container {
    border-radius: 5px;
    border: 1px solid #ccc;
}
#georeference-search-clear {
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 10;
}

/* ###### ESTO HABRÁ QUE RECOMPILARLO CON BOOTSTRAP ###### */
.form-group, .form-group .checkbox, .form-group .radio {
    margin-bottom: 5px;
}
.form-control:focus {
    border-color: #444;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(14, 25, 34, 0.6);
}
label {
    margin-bottom: 2px;
}
.panel{
    margin-bottom: 8px;
}
/* ###### FIN RECOMPILARLO CON BOOTSTRAP ###### */


.is-sticky > .sticker, .is-sticky > .sticker-form {
    z-index: 1025;
    background: #fcfcfc;
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
    padding-top: 7px;
}
.is-sticky > .sticker-form > #table-toolbar {
    margin-top: 0!important;
}
/* Links de acciones de tabla (proyecto base viejo) */
.edit, .remove, .lock, .keys, .ok, .access, .inactive, .profiles ,.see,.notifications,.notification {
    height: 30px;
    width: 30px;
    text-decoration: none;
    padding: 5px;
}
.edit:hover, .notifications:hover, .notification:hover, .remove:hover, .lock:hover, .keys:hover, .ok:hover, .access:hover,.inactive:hover,.see:hover , .profiles:hover {
    text-decoration: none;
}
.edit {
    background: url('../img/base/edit.png') no-repeat 0 0;
}
.remove {
    background: url('../img/base/remove.png') no-repeat 0 0
}
.lock {
    background: url('../img/base/lock.png') no-repeat 0 0
}
.ok {
    background: url('../img/base/ok.png') no-repeat 0 0
}
.keys {
    background: url('../img/base/keys.png') no-repeat 0 0;
}
.access {
    background: url('../img/base/access.png') no-repeat 0 0;
}
.profiles {
    background: url('../img/base/profiles.png') no-repeat 0 0;
}
.inactive {
    background: url('../img/custom/inactive.png') no-repeat 0 0;
}
.see {
    background: url('../img/custom/see.png') no-repeat 0 0;
}
.notifications {
    background: url('../img/custom/notifications.png') no-repeat 0 0;
}
.notification {
    background: url('../img/custom/notification.png') no-repeat 0 0;
}

.loading-panel{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 100000;
}
.loading-panel .msg-box{
    opacity: 1;
    position: fixed;
    text-align: center;
    top: 0;
    min-width: 50%;
    left: 25%;
    background: #ffff99;
    /*z-index: 1000;*/
    color: #000;
    padding: 5px;
    border: 1px solid #ffcc00;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
}

.massive-orders-selection {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.massive-orders-selection .first {
    border-top: 1px dotted #ccc;
}
/*dropdown Detailed*/

.selectize-input {
    border: 1px solid #cccccc;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* height: 30px; */
    /* padding: 5px 10px; */
    font-size: 12px;
    /* line-height: 1.5; */
    border-radius: 3px;
    font-family: inherit;
    color: inherit;
    height: 30px;
    min-height: 30px;

}


.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: #ffffff;
    cursor: text;
    display: inline-block;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #333333;
    line-height: 20px;
    font-size: 12px;
    -webkit-font-smoothing: inherit;
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333333 transparent transparent transparent;
}

selectize-input.focus{
    border: 1px solid #cccccc !important;
    color: #555555;
    background-color: #ffffff;
}

/* Detailed Dropdown Item*/
.detailed-dropdown-item  {
    border-bottom: 1px dotted #c0c0c0;
}
.detailed-dropdown-item .subtitle {
    font-size: 11px;
    opacity: 0.8;
}
.detailed-dropdown-item .subtitle::before {
    content: ' · ';
}
.detailed-dropdown-item i {
    margin-right:5px;
}
.detailed-dropdown-item .name {
    font-weight: bold !important;
    margin-right: 5px;
}
.detailed-dropdown-item .title {
    display: block;
}
.detailed-dropdown-item   .description {
    font-size: 12px;
    display: block;
    opacity: 0.5;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.detailed-dropdown-item   .meta {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.detailed-dropdown-item   .meta li {
    margin: 0;
    padding: 0;
    display: inline;
    margin-right: 10px;
}
.detailed-dropdown-item   .meta li span {
    font-weight: bold;
}


.text-orange{
    color: #ff9326;
}
.jtable-row-selected .text-orange{
    color: #ffff99;
    font-weight: bold;
}

/*bootstrap-select*/
.bootstrap-select .input-search-dropdown{
    height: 30px;
    border: 1px solid #cccccc;
}

.bootstrap-select .input-search-dropdown:focus{
    height: 30px;
    outline: 0;
}

.form-control:focus {
    border-color: #444;
    outline: none;
    box-shadow: #cccccc;
}

.input-group .form-control {
    position: relative;
    z-index: initial;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #66afe9;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #66afe9;
}

.bootstrap-select a:focus {
    outline: none;
}

.bootstrap-select div.input-group.input-group-sm{
    margin: 3px;
    padding: 0px;
}

/*uploadfile*/
.bar {
    height: 18px;
    background: rgb(93, 184, 92);
    border-radius: 5px;
}

/*Action Upload*/
.action-dropdown {
    height: 66px;
    margin-bottom: 10px;
}
.action-dropdown button.selectpicker {
    height: 46px;
    font-size: 14px;
    font-weight: bold
}

.action-dropdown .dropdown-menu {
    top: 150%;
    font-size: 14px;
}

.branch-error {
    color: #c9302c;
}
.branch-error-dropdown {
    border-color: #c9302c;
    color: #c9302c;
}
.branch-error-dropdown:hover {
    border-color: #c9302c;
    color: #c9302c;
}

/* mensaje: días requeridos*/
span.message-required {
    font-style: italic;
    font-size: 11px;
}
/*AutocompleteField*/
.content-typeahead {
    position: relative;
}
.typeahead.dropdown-menu {
    width: 300%;
}
.typeahead>li>a {
    width: 100%;
}


/*warning */
.previous-pending-actions-warning{
    color: #eea236;

}
/*panel de cantidades*/
.quantity-product-box {
    padding: 4px 8px;
    margin-bottom: 0;
}
.quantity-product-box > p {
    margin-bottom: 0;
}

/*.slider-container,
.mini-slider-table{
    height: 70px;
    width: 100px;
} */

.popover{
    min-width: 350px;
    height: 370px;
} 
//icono estrella 
a.icon_action:hover{
    color:black;
}


/*Images gallery*/
.wrapper-image-gallery{
    background-color: #fff;  
    padding-left: 5px;
    padding-right: 5px;
    position:relative;
    width: 100%;
    height: 100%;
}

.wrapper-min-image{
    background-color: #fff;
    width: 100%;
    margin-bottom: 2px;
    overflow-x: scroll;
}

.wrapper-big-image{
    background-color: #fff; 
    width: 100%;
    height: 420px;
    margin-bottom: 0px;
    overflow: scroll;

}

.min-image {
    background-color: #fff; 
    max-width: 80px;
    max-height: 80px;
    margin: 10px;
}
.big-image {
    background-color: #fff; 
    max-width: 100%; 
    margin-top: 10px;
}
.distribution-address-black{
    color:#000;
}
.distribution-address-red{
    color:#d9534f;
}